body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #ffffff;  
  color: #434455;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo-accent {
  color: #2e2f42;
}

.menu-item {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.menu-item:hover,
.menu-item:focus {
  color: #404bbf;
}

.contacts {
  font-style: normal;
}

.contact {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contact:hover,
.contact:focus {
  color: #404bbf;
}

.hero-section {
  background-color: #2e2f42;
}

.hero-heading {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}

.hero-button {
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.features-heading,
.team-heading,
.portfolio-heading {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  text-align: center;
}

.feature-title,
.team-title,
.project-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.feature-description,
.team-description,
.project-description {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team-section {
  background-color: #f4f4fd;
}

.team-card {
  background-color: #ffffff;
}

.page-footer {
  background-color: #2e2f42;
}

.footer-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-logo-accent {
  color: #f4f4fd;
}
