body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.02em;
  background-color: #ffffff;
  color: #2e2f42;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo span {
  color: #2e2f42;
}

.menu-item {
  font-weight: 500;
  line-height: 1.5;
  color: #2e2f42;
}

.menu-item:hover,
.menu-item:active {
  color: #404bbf;
}

.contact {
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  color: #434455;
}

.contact:hover,
.contact:active {
  color: #404bbf;
}

p {
  color: #434455;
}

.hero-section {
  background-color: #2e2f42;
}

.team-section {
  background-color: #e7e9fc;
}

.hero-button {
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:active {
  background-color: #404bbf;
}

h1 {
  font-size: 56px;
  line-height: 1.07143;
  text-align: center;
  color: #ffffff;
}

h2 {
  font-size: 36px;
  line-height: 1.11111;
  text-align: center;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

footer {
  background-color: #2e2f42;
}

footer p {
  color: #ffffff;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-logo span {
  color: #ffffff;
}
